@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import '../bower_components/neat/app/assets/stylesheets/neat';

.calculator {
  @include outer-container(235px);
}

.button {
  @include span-columns(3);
  height: 50px;
  @include omega(4n);
  font-size: 1.5em;
  font-weight: light;
}

.button:hover {
    background: #59A3E0;
    text-decoration: none;
    filter: none;
}​


.zero {
  @include span-columns(6);
}

.operator,
 .equal{
  background-color: orange;
}
